/* Write your CSS here */
.team {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40%;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}
.team-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
.team-name {
  font-size: 25px;
  color: #fff;
}
